{# src/IServ/ReportBundle/Resources/views/Admin/index.html.twig #}
{% extends "IServAdminBundle::page.html.twig" %}

{% block page_title %}{{ _("Bill-Board") }} - {{ _("Settings") }}{% endblock %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ _('Rules') }}</h3>
    </div>
    <div class="panel-body">
        {{ form(rules_form, {'style': null}) }}
    </div>
</div>

{% endblock %}
