debian/stsbl-iserv-billboard/*
debian/stsbl-iserv-billboard.debhelper.log
debian/stsbl-iserv-billboard.substvars
debian/debhelper-build-stamp
debian/files
/Makefile.iservmake
/system-locale
!/locale/templates/*_misc.pot
/public/assets
/.php-cs-fixer.cache
