{% extends '@IServCrud/Crud/index.html.twig' %}
{% import '@IServCrud/macros.html.twig' as m %}

{% block content %}
    {% if is_granted(constant('\\Stsbl\\BillBoardBundle\\Security\\Privilege::BILLBOARD_MANAGE')) %}
        <div class="btn-toolbar pull-right">
            {{ m.linkButton(path('manage_billboard'), _('Manage'), 'cog', 'btn-link') }}
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}