{# src/Stsbl/BillBoardBundle/Reosurces/views/Crud/entry_index.html.twig #}
{% extends 'IServCrudBundle:Crud:index.html.twig' %}
{% import 'IServCrudBundle::macros.html.twig' as m %}

{% block content %}
    {% if is_granted('PRIV_BILLBOARD_MANAGE') %}
        <div class="clearfix mb">
            <div class="pull-right">{{ m.linkButton(path('admin_billboard'), _('Manage'), 'cog', 'btn-primary') }}</div>
        </div>    
    {% endif %}
    {{ parent() }}
{% endblock %}