Source: stsbl-iserv-billboard
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://it.stsbl.de/documentation/mods/stsbl-iserv-billboard

Package: stsbl-iserv-billboard
Architecture: all
Depends: iserv-portal, stsbl-iserv3-maintenance
Description: Schwarzes Brett-Modul für IServ
 Das Modul "Schwarzes Brett" stellt eine digitale Biete-Pinnwand zur Verfügung.
 .
 Ausgewählte Gruppen können Einträge mit optionalen Bildern zu dieser Pinnwand
 hinzufügen.
 .
 Das Modul befindet sich derzeit in Entwicklung und wird in naher Zukunft um 
 weitere Funktionen ergänzt.
 .
 https://it.stsbl.de/wp-content/uploads/2016/09/stsbl-iserv-billboard.png
 .
 https://it.stsbl.de/wp-content/uploads/2016/09/stsbl-iserv-billboard-2.png
Tag: suite::iserv:portal, role::plugin
