Source: stsbl-iserv-billboard
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://repository.stsbl.de/doc/mods/stsbl-iserv-billboard.html

Package: stsbl-iserv3-billboard
Architecture: all
Depends: iserv-portal, stsbl-iserv3-maintenance
Description: Schwarzes Brett-Modul füt IServ
 Das Modul "Schwarzes Brett" stellt eine digitale Biete-Pinnwand zur Verfügung.
 .
 Ausgewählte Gruppen können Einträge mit optionalen Bildern zu dieser Pinnwand
 hinzufügen.
 .
 Das Modul befindet sich derzeit in Entwicklung und wird in naher Zukunft um 
 weitere Funktionen ergänzt.
 .
 https://repository.stsbl.de/images/repository/mods/stsbl-iserv-billboard.png
Tag: suite::iserv:portal, role::plugin
