Source: stsbl-iserv-billboard
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.0
Homepage: https://it.stsbl.de/documentation/mods/stsbl-iserv-billboard

Package: stsbl-iserv-billboard
Architecture: all
Depends: iserv-portal,
         iserv3-core (>= 19.08.06-2),
         stsbl-iserv3-maintenance,
         ${misc:Depends},
         ${perl:Depends}
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: Schwarzes Brett-Modul für IServ
 Das Modul "Schwarzes Brett" stellt eine digitale Biete-Pinnwand zur Verfügung.
 .
 Ausgewählte Gruppen können Einträge mit optionalen Bildern zu dieser
 Pinnwand hinzufügen.
 .
 Das Modul befindet sich derzeit in Entwicklung und wird in naher Zukunft um
 weitere Funktionen ergänzt.
 .
 https://it.stsbl.de/wp-content/uploads/2019/09/stsbl-iserv-billboard.png
 .
 https://it.stsbl.de/wp-content/uploads/2019/09/stsbl-iserv-billboard-2.png
Tag: suite::iserv:portal, role::plugin, implemented-in::php
